/* ===== FILTER ===== */
.filter-container {
  position: relative;
  display: inline-block;
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.filter-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  width: 380px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.08);
  z-index: 100;
}

.filter-dropdown h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 14px;
  color: #111;
}

.price-inputs {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

.price-inputs input {
  width: 70%;
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.price-inputs input:focus {
  border-color: #ff3c00;
}

.apply-btn {
  width: 100%;
  padding: 12px;
  background: #ff3c00;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.apply-btn:hover {
  background: #e13a00;
}